{#
/**
 * @file
 * Themage's implementation to display a block.
 */
#}
<div{{ attributes }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {{ content }}
</div>
