{#
/**
 * @file
 * Themage's implementation to display a comment
 */
#}
<article{{ attributes }}>

  <header>
    {{ picture }}

    {{ title_prefix }}
    <h3{{ title_attributes }}>{{ title }}</h3>
    {{ title_suffix }}
    
    {% if parent %}
      <p class="parent visually-hidden">{{ parent }}</p>
    {% endif %}
  </header>

  <section{{ content_attributes }}>
    {# We hide the links now so that we can render them later. #}
    {% hide(content.links) %}
    {{ content }}

    {% if signature %}
      <div class="user-signature clearfix">
        {{ signature }}
      </div>
    {% endif %}
  </section>

  <footer role="contentinfo">
    {{ submitted }}
  </footer>

  {{ content.links }}
</article>
