{#
/**
 * @file
 * Themage's implementation to display the basic html structure
 * of a single Drupal page.
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  {{ page.head }}
  <title>{{ head_title }}</title>
  {{ page.styles }}
  {{ page.scripts }}
</head>
<body{{ attributes }}>
  <nav id="skip-link" role="navigation">
    <a href="#main-content" class="visually-hidden focusable"
      onclick="jQuery('#main-content').attr('tabIndex',-1).focus();">
      {{- 'Skip to main content'|t -}}
    </a>
  </nav>
  {{ page_top }}
  {{ page.content }}
  {{ page_bottom }}
  {{ page.scripts('footer') }}
</body>
</html>
